.cates_grid{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-items: center;
    row-gap: 10px;
}





@media only screen and (max-width: 900px) {
    .cates_grid{

        grid-template-columns: 100%;
        justify-items: center;

    }

    .sidebar_cont{
    
        min-width: 30vw
     
    }
}

@media only screen and (min-width: 901px) and (max-width: 1300px) {
    .cates_grid{

        grid-template-columns: 50% 50%;
        justify-items: center;

    }
}
